@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@if (Basics != null)
{
    <article class="primary" style="flex-grow: 1">
        <div class="row">
            <img class="circle large" src="@Basics.Picture"/>
            <div class="max">
                <h5>@Basics.Name</h5>
                <p>@Basics.Label</p>
                <p>@_website.resumeBasics_bornOn@Basics.BirthDate</p>
                <p>@_website.resumeBasics_email<a href="mailto:@Basics.Email">@Basics.Email</a></p>
            </div>
        </div>
    </article>
}
else
{
    <!-- Basic information is not available -->
}

@code {
    I18nText.Website _website = new();
    
    [Parameter]
    public ResumeBasicsModel? Basics { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _website = await I18nText.GetTextTableAsync<I18nText.Website>(this);
    }
}
