@page "/"
@using ResumeApp.Components.Resume
@inject HttpClient Http
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

@if (ResumeData == null)
{
    <PageTitle>@_website.index_resumeLoadingPageTitle</PageTitle>
    <a class="loader little-padding" role="status">
        <span class="tiny no-opacity">@_website.index_resumeLoadingText</span>
    </a>
}
else
{
    <PageTitle>@_website.index_resumeOf@ResumeData.Basics.Name</PageTitle>
    <ResumeBasics Basics="ResumeData.Basics" />
    <article>
        <details>
            <ResumeListDetailsSummary Icon="school" Title="@_website.index_education" />
            <div>
                @foreach (var education in ResumeData.Education)
                {
                    <ResumeEducation Education="education" />
                }
            </div>
        </details>
    </article>
    @if (ResumeData.Certificates != null)
    {
        <article>
            <details>
                <ResumeListDetailsSummary Icon="card_membership" Title="@_website.index_certificates"/>
                <div>
                    @foreach (var certificate in ResumeData.Certificates)
                    {
                        <ResumeCertification Certification="certificate" />
                    }
                </div>
            </details>
        </article>
    }
    else
    {
        <!-- Certifications are not available -->
    }
    <article>
        <details>
            <ResumeListDetailsSummary Icon="language" Title="@_website.index_languages" />
            <div>
                @foreach (var language in ResumeData.Languages)
                {
                    <ResumeLanguage Language="language" />
                }
            </div>
        </details>
    </article>
}
@code {
    public ResumeModel? ResumeData { get; set; }
    I18nText.Website _website = new();


    protected override async Task OnInitializedAsync()
    {
        var lang = await I18nText.GetCurrentLanguageAsync();
        _website = await I18nText.GetTextTableAsync<I18nText.Website>(this);
        ResumeData = await Http.GetFromJsonAsync<ResumeModel>($"data/resume.{lang.Split('-')[0]}.json");
        I18nText.ChangeLanguage += async (s, a) =>
        {
            ResumeData = await Http.GetFromJsonAsync<ResumeModel>($"data/resume.{a.LanguageCode.Split('-')[0]}.json");
            Console.WriteLine($"Resume data is loaded with language: {a.LanguageCode.Split('-')[0]}");
            await InvokeAsync(StateHasChanged);
        };
    }
}